cache/
artifacts/

coverage*
deployments/
typechain/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.DS_Store

.yalc
yalc.lock

export/*
!export/.gitkeep
deployments/hardhat
deployments/localhost
